.mediaViewInfo {
    --web-view-name: ERROR LOGIN;
    --web-view-id: ERROR_LOGIN;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: ERROR_LOGIN;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#ERROR_LOGIN {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background-color: rgba(69,92,117,1);
    overflow: hidden;
    --web-view-name: ERROR LOGIN;
    --web-view-id: ERROR_LOGIN;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
#Rectangle_5_uk {
    fill: rgba(255,255,255,1);
    stroke: rgba(0,0,0,1);
    stroke-width: 5px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_5_uk {
    position: absolute;
    overflow: visible;
    width: 1526px;
    height: 978px;
    left: 195px;
    top: 51px;
}
#morning_ul {
    position: absolute;
    width: 1530px;
    height: 965px;
    left: 187px;
    top: 60px;
    overflow: visible;
}
#MYSERVANT_um {
    left: 742px;
    top: 159px;
    position: absolute;
    overflow: visible;
    width: 321px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: rgba(0,0,0,1);
}
#broom_un {
    position: absolute;
    width: 111px;
    height: 111px;
    left: 1068px;
    top: 137px;
    overflow: visible;
}
#pngwingcom_1_uo {
    position: absolute;
    width: 400px;
    height: 348px;
    left: 236px;
    top: 439px;
    overflow: visible;
}
#servant_2_up {
    position: absolute;
    width: 478px;
    height: 702px;
    left: 609px;
    top: 262px;
    overflow: visible;
}
#Rectangle_6_uq {
    fill: rgba(255,255,255,1);
    stroke: rgba(0,0,0,1);
    stroke-width: 4px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_6_uq {
    position: absolute;
    overflow: visible;
    width: 401px;
    height: 601px;
    left: 1140px;
    top: 315px;
}
#Rectangle_7_ur {
    fill: rgba(255,255,255,1);
    stroke: rgba(0,0,0,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_7_ur {
    position: absolute;
    overflow: visible;
    width: 328px;
    height: 54px;
    left: 1175px;
    top: 470px;
}
#Rectangle_8_us {
    fill: rgba(255,255,255,1);
    stroke: rgba(0,0,0,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_8_us {
    position: absolute;
    overflow: visible;
    width: 328px;
    height: 54px;
    left: 1175px;
    top: 556px;
}
#Path_2_ut {
    fill: rgba(255,255,255,1);
    stroke: rgba(0,0,0,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_2_ut {
    overflow: visible;
    position: absolute;
    width: 164px;
    height: 54px;
    left: 1257px;
    top: 681px;
    transform: matrix(1,0,0,1,0,0);
}
#LOGIN_uu {
    left: 1299px;
    top: 692px;
    position: absolute;
    overflow: visible;
    width: 82px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(0,0,0,1);
}
#not_registered_uv {
    left: 1254px;
    top: 738px;
    position: absolute;
    overflow: visible;
    width: 97px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(0,0,0,1);
}
#REGISTER_uw {
    left: 1350px;
    top: 738px;
    position: absolute;
    overflow: visible;
    width: 63px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(239,146,34,1);
}
#username_ux {
    left: 1296px;
    top: 480px;
    position: absolute;
    overflow: visible;
    width: 90px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: italic;
    font-weight: normal;
    font-size: 21px;
    color: rgba(0,0,0,1);
}
#password_uy {
    left: 1296px;
    top: 565px;
    position: absolute;
    overflow: visible;
    width: 87px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: italic;
    font-weight: normal;
    font-size: 21px;
    color: rgba(0,0,0,1);
}
#broom_uz {
    position: absolute;
    width: 111px;
    height: 111px;
    left: 1284px;
    top: 328px;
    overflow: visible;
}
#Path_10 {
    fill: rgba(227,28,28,1);
    stroke: rgba(0,0,0,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_10 {
    overflow: visible;
    position: absolute;
    width: 328px;
    height: 33.688px;
    left: 1175px;
    top: 624px;
    transform: matrix(1,0,0,1,0,0);
}
#username_atau_password_tidak_t {
    left: 1199px;
    top: 630.241px;
    position: absolute;
    overflow: visible;
    width: 283px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(0,0,0,1);
}